<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

<%- include partials/content.ejs %>  
  
<%- include partials/bottom_nav.ejs %>  



<%- include partials/footer.ejs %>

<!-- Main content -->
<img src="/Assets\images/Picture-MW.jpg" width="210"/>

<h4>Wan Wan</h4>
<h5>I am a Centennial student coming from Hong Kong, who is studying in AI programming currently.<br>
This is my first semester in Centennial College. I am looking forward to learn more on different area in programming.
<br><br>
Please see my resume below:</h5>

<a href="/Assets\images/Wan Wan Resume (updated).pdf">My Resume</a>

<br><br><br><br>

