<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

<%- include partials/content.ejs %>  
  
<%- include partials/bottom_nav.ejs %>  



<%- include partials/footer.ejs %>


<!-- Main content -->
<div style="text-align:center" class="container">
  <h2>My Contact</h2>
  <div class="panel panel-primary">
    <div class="panel-heading"><b>Phone number:</b></div>
    <div class="panel-body">1(647)6864816</div>
    <div class="panel-heading"><b>Email:</b></div>
    <div class="panel-body"><i>wwan12@my.centennialcollege.ca</i></div>
  </div>
</div>

<br><br><br>

<h2 style="text-align:center">Leave me a message</h2>

<form action="/home" style="text-align:center">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" value=""><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" value=""><br>
  <label for="comment">Your comment:</label><br>
  <input type="text" id="comment" name="comment" value=""><br><br>
  <input type="submit" value="Submit">
</form> 

<img src="/Assets\images/contact.jpg" width="250" />


<br><br><br><br>