<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


<%- include partials/content.ejs %>  
  
<%- include partials/bottom_nav.ejs %>  



<%- include partials/footer.ejs %>
<!-- Main content -->
<h3>
  
  In this site you will know more about my background and my ability in programming.

  <br><br>
</h3>

<img src="/Assets\images/home.jpg" width="300"/>




