<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

<%- include partials/content.ejs %>  
  
<%- include partials/bottom_nav.ejs %>  



<%- include partials/footer.ejs %>
<!-- Main content -->
<img src="/Assets\images/project1.jpg" width="300"/>
<h3>Time Management Project</h3>
<h4>This is a project I have done for my own use. I used Java to build up an efficient schedule. The setting of reminder will be different following on my pre-set category on the schedule so that I can manage my time well.</h4>
<br>
<img src="/Assets\images/project2.jpg" width="300"/>
<h3>Capital Project</h3>
<h4>I used Python to predict the stock market using historical data and build up a programe trading. However, earning money is not guranteed.</h4>
<br>
<img src="/Assets\images/project3.jpg" width="300"/>
<h3>Tee Design Project</h3>
<h4>To design a sporty T-shirt for client on dragonboat race event. Photoshop and Illustrator are used in this project.</h4>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
