<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

<%- include partials/content.ejs %>  
  
<%- include partials/bottom_nav.ejs %>  


<%- include partials/footer.ejs %>
<!-- Main content -->
<img src="/Assets\images/service1.jpg" width="300"/>
<h3>Service on Python</h3>
<h4>I can help you to write a python programe to solve your problems in daily life.</h4>
<br>

<img src="/Assets\images/service2.jpg" width="300"/>
<h3>Service on Java</h3>
<h4>I can help you to write a Java programe to construct applications.</h4>

<img src="/Assets\images/service3.jpg" width="300"/>
<h3>Service on Web development</h3>
<h4>I can help you to write a website with fancy design.</h4>


<br>
<br>
<br>
<br>
<br>
<br>
<br>